<a href="https://colab.research.google.com/github/saiuday73105/hello-world/blob/master/Car_Performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/aniketraj1947/tesla/master/dataset.csv?token=AmGM6S_zS5wEmnKcVLHaIgzkKXsy6JbNks5cqNgswA%3D%3D'
df = pd.read_csv(url)

df.head()

,index,deviceid,devicedesc,timestamp,date,time,statuscode,statusdesc,latitude,longitude,...,faultcode,faultcodes,analog0,analog1,analog2,analog3,pulsecount,drivermessage,datasource,rawdata
0,1,352093081552068,CG04MP7400,1552792519,2019/03/17,08:45:19,0xF060,Heartbeat,21.24129,81.67137,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2,352093081552068,CG04MP7400,1552792529,2019/03/17,08:45:29,0xF060,Heartbeat,21.24129,81.67137,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,3,352093081552068,CG04MP7400,1552792539,2019/03/17,08:45:39,0xF060,Heartbeat,21.24129,81.67137,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4,352093081552068,CG04MP7400,1552792549,2019/03/17,08:45:49,0xF060,Heartbeat,21.24129,81.67137,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,5,352093081552068,CG04MP7400,1552792559,2019/03/17,08:45:59,0xF060,Heartbeat,21.24129,81.67137,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [0]:
df['sum']= None
df['sum1'] = None

In [28]:
for index, column in df['index'].iteritems():
    df['sum'][index] = 1 if (((df['statusdesc'][index]=='Heartbeat') and (df['batteryvolts'][index] >=12.6)) or ((df['statusdesc'][index]=='Location') and ((df['batteryvolts'][index]>=13.7)and(df['batteryvolts'][index]<=14.7)))) else 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
df[df['sum']==0]
df[df['sum1']==0]

Empty DataFrame
Columns: [index, deviceid, devicedesc, timestamp, date, time, statuscode, statusdesc, latitude, longitude, accuracy, celllatitude, celllongitude, cellaccuracy, gpsage, satellites, speedh, gearno, speedlimit, altitude, odometer, inputstate, address, geozonedesc, subdivision, batterypercent, batteryvolts, batterytemp, malfunctionlamp, fuellevel, fuellevelvolume, fueleconomy, fueltotal, fuelremain, fuelidle, fuelengineon, fuelpressure, fuelrate, enginerpm, enginehours, engineonhours, engineload, idlehours, transoiltemp, coolantlevel, coolanttemp, brakegforce, brakepressure, brakepos, oillevel, oilpressure, ptoengaged, ptohours, vbatteryvolts, throttlepos, intaketemp, airpressure, airfilterpressure, massairflow, turbopressure, driverid, driverstatus, rfidtag, sampleindex, sampleid, attachurl, createdatetime, faultcode, faultcodes, analog0, analog1, analog2, analog3, pulsecount, drivermessage, datasource, rawdata, sum, sum1]
Index: []

[0 rows x 79 columns]

In [24]:
for index, col in df['index'].iteritems():
   df['sum1'][index] = 1 if (df['malfunctionlamp'][index]=='Off') else 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
y1 = ((df[df['sum']==1].count()['index'])/((df[df['sum']==1].count()['index'])+(df[df['sum']==0].count()['index'])))*10
y2 = ((df[df['sum1']==1].count()['index'])/((df[df['sum1']==1].count()['index'])+(df[df['sum1']==0].count()['index'])))*10
print(y1)
print(y2)

9.76
10.0

In [33]:
df.columns

Index(['index', 'deviceid', 'devicedesc', 'timestamp', 'date', 'time',
       'statuscode', 'statusdesc', 'latitude', 'longitude', 'accuracy',
       'celllatitude', 'celllongitude', 'cellaccuracy', 'gpsage', 'satellites',
       'speedh', 'gearno', 'speedlimit', 'altitude', 'odometer', 'inputstate',
       'address', 'geozonedesc', 'subdivision', 'batterypercent',
       'batteryvolts', 'batterytemp', 'malfunctionlamp', 'fuellevel',
       'fuellevelvolume', 'fueleconomy', 'fueltotal', 'fuelremain', 'fuelidle',
       'fuelengineon', 'fuelpressure', 'fuelrate', 'enginerpm', 'enginehours',
       'engineonhours', 'engineload', 'idlehours', 'transoiltemp',
       'coolantlevel', 'coolanttemp', 'brakegforce', 'brakepressure',
       'brakepos', 'oillevel', 'oilpressure', 'ptoengaged', 'ptohours',
       'vbatteryvolts', 'throttlepos', 'intaketemp', 'airpressure',
       'airfilterpressure', 'massairflow', 'turbopressure', 'driverid',
       'driverstatus', 'rfidtag', 'sampleindex', 'sampleid', 'attachurl',
       'createdatetime', 'faultcode', 'faultcodes', 'analog0', 'analog1',
       'analog2', 'analog3', 'pulsecount', 'drivermessage', 'datasource',
       'rawdata', 'sum', 'sum1'],
      dtype='object')

In [0]:
df['speedh'] = df.speedh.str.replace(r"[a-zA-Z ]",'').astype(int)

In [0]:
df['sum2'] = None

In [48]:
for index, col in df['index'].iteritems():
   df['sum2'][index] = 1 if (((df['gearno'][index]==1) and (df['speedh'][index]<=15)) or ((df['gearno'][index]==2) and ((df['speedh'][index]>15)and((df['speedh'][index]<=25)))) or ((df['gearno'][index]==3) and ((df['speedh'][index]>25)and((df['speedh'][index]<=31)))) or ((df['gearno'][index]==4) and ((df['speedh'][index]>31)and((df['speedh'][index]<=41)))) or ((df['gearno'][index]==5) and (df['speedh'][index]>41))) else 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
x1 = ((df[df['sum2']==1].count()['index'])/((df[df['sum2']==1].count()['index'])+(df[df['sum2']==0].count()['index'])))*10
print(x1)

6.470000000000001